#wrapper {
    width: 100vw;
    height: 100vh;
    border: solid black 2px;
    
    
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 40px;
    margin-top: -20px; /* Negative half of height. */
    margin-left: -50px; /* Negative half of width. */
    border: solid black 2px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    z-index: 1;
}

#show-offer-text {
    text-align: center;
    margin: auto;
}

#accept-offer-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
    margin-top: -50px; /* Negative half of height. */
    margin-left: -100px; /* Negative half of width. */
    border: solid black 2px;
    z-index: 2;
    background-color: white;
}

#x-button {
    position: relative;
    top: 5px; left: 5px;
    border: solid black 1px;
    border-radius: 5px;
    width: 15px;
    height: 15px;
}

#x-symbol {
    position: relative;
    bottom: 19px; 
    left: 4px;
}

#accept-offer-button {
    position: relative;
    top: 50px; 
    left: 40px;
    border: solid black 1px;
    width: 120px;
    height: 25px;
}

#click-to-accept-paragraph {
    position: relative;
    bottom: 30px; 
    left: 20px;
    // margin-top: -50px; /* Negative half of height. */
    // margin-left: -100px; /* Negative half of width. */
}

#offer-accepted {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px; /* Negative half of height. */
    margin-left: -50px; /* Negative half of width. */
    font-size : 20px;
}

#accept-offer-paragraph {
    position: relative;
    bottom: 10px;
    left: 10%;
}